:root {
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --bgColor: radial-gradient(circle, #d074f8, #42e8da);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #b8d4e8;
}

.App {
  color: var(--black);
  background: var(--bgColor);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

/* Navbar Link Default Styles */
.nav-icon {
  /* color: var(--black); */
  text-decoration: none;
  transition: color 0.3s ease;
}

/* .nav-icon:hover {
  color: #033491;
} */

.nav-label {
  font-size: 0.75rem;
  margin-top: 4px;
}

.navbar .gap-4 .nav-link {
  margin-right: 1.5rem;
}
